<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We need your location to track your attendance and work locations while using the
            app.
        </string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>We need continuous location access to track attendance during working hours in the
            background.
        </string>
        <key>NSLocationAlwaysUsageDescription</key>
        <string>We need continuous location access to track attendance during working hours in the
            background.
        </string>
        <key>UIBackgroundModes</key>
        <array>
            <string>location</string>
        </array>
    </dict>
</plist>